{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <title>Amigos</title>
</head>
<body>
    <div class="container mt-4">
        <div class="text-center mb-4">
            <a href="/verUsuarios"><button href="/verUsuarios" type="button" class="btn btn-primary" id="buscar_amigos">Buscar Amigos</button></a>
            <a href="/solicitudes"><button type="button" class="btn btn-info" id="ver_solicitudes">Ver Solicitudes de Amistad</button></a>
        </div>
        <h2 class="text-center mb-4">Aquí tienes tu lista de amigos!</h2>
        <div class="row">
            {% for amigo in amigos %}
                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ amigo }}</h5>
                        </div>
                        <div class="card-footer">
                            <form method="POST">
                                <input type="hidden" value="{{ amigo }}" name="email_amigo">
                                <button type="submit" class="btn btn-danger btn-block" id="eliminar_amigo" name="eliminar_amigo">Eliminar Amigo</button>
                            </form>
                        </div>
                        <div class="card-footer">
                            <form method="POST">
                                <input type="hidden" value="{{ amigo }}" name="email_amigo">
                                <button type="submit" class="btn btn-primary btn-block" id="verPerfil" name="verPerfil">Ver Perfil</button></a>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}
