{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Mensaje de Error -->
    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}

    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h2 class="card-title">Editar Reserva</h2>
        </div>
        <div class="card-body">
            <form action="{{ url_for('edit_reserva', reserva_id=detalles.id) }}" method="post">
                <div class="mb-3">
                    <label for="fecha_fin" class="form-label">Nueva Fecha de Finalización:</label>
                    <input type="date" id="fecha_fin" name="fecha_fin" class="form-control"
                           {% if detalles.fecha_fin is string %}
                               value="{{ detalles.fecha_fin }}"
                           {% else %}
                               value="{{ detalles.fecha_fin.strftime('%Y-%m-%d') }}"
                           {% endif %} required>
                </div>
                <button type="submit" class="btn btn-primary">Actualizar Reserva</button>
            </form>
        </div>
    </div>
</div>

<style>
    .card-header {
        background-color: #007bff;
    }
    .btn-primary {
        background-color: #0056b3;
        border-color: #004085;
    }
</style>
{% endblock %}
