{% extends 'base.html' %}

{% block content %}
<h1>Responder al Tema: {{ topic.title }}</h1>
<form action="/forums/{{ topic.id }}/reply" method="post">
    <div>
        <label for="content">Tu Respuesta:</label>
        <textarea id="content" name="content" required></textarea>
    </div>
    <div>
        <input type="hidden" name="emailUser" value="{{ request.user.email if 'user' in dir(request) and request.user }}">
        <input type="submit" value="Enviar Respuesta">
    </div>
</form>
{% endblock %}
