{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <title>Solicitudes de amistad</title>
</head>
<body>
    <div class="container mt-4">
        <div class="usuarios-list">
            {% if solicitudes %}
                {% for solicitud in solicitudes %}
                    <div class="card mb-3">
                        <form class="card-body" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title">{{ solicitud }}
                                        <input type="hidden" value="{{ solicitud }}" name="email_solicitud">
                                    </h5>
                                    <div class="btn-group" role="group">
                                        <button type="submit" class="btn btn-success" id="aceptarSol" name="aceptarSol">Aceptar Solicitud</button>
                                        <button type="submit" class="btn btn-danger" id="rechazarSol" name="rechazarSol">Rechazar Solicitud</button>
                                        <button type = "submit" class="btn btn-primary" id="verPerfil" name="verPerfil">Ver Perfil</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                        <h2 class="text-center mb-4">No tienes solicitudes</h2>
            {% endif %}
        </div>
    </div>
</body>
</html>
{% endblock %}